:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  --Font-size: 32px;

  --Family: "Poppins", sans-serif;
  --Weights-normal: 400;
  --Weights-semibold: 700;
  --Weights-bold: 800;
}

/* reset */

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*  */

body {
  background-color: var(--Light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--Family);
}

.container {
  background-color: var(--White);
  width: 840px;
  height: 650px;
  padding: 56px;
  border-radius: 24px 24px 200px 24px;
  font-weight: 700;
}

.inputs-section {
  border-bottom: solid 1px var(--Light-grey);
  display: flex;
  color: var(--Smokey-grey);
  gap: 72px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

form {
  position: relative;
}

.inputs {
  margin-bottom: 47.5px;
}

.inputs input {
  height: 72px;
  width: 160px;
  padding-left: 1em;
  border-radius: 5px;
  border: 1px solid var(--Light-grey);
}

.inputs input::placeholder {
  font-size: 25px;
  font-weight: 900;
}

.inputs span {
  display: block;
  font-size: 10px;
  font-weight: 300;
}

.submit-block button {
  border: none;
}

.icon {
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 96px;
  cursor: pointer;
}

.age {
  display: flex;
  flex-direction: column;
}

.age-metrics {
  display: flex;
  align-items: center;
}

.age-metrics span {
  color: var(--purple);
  font-size: 90px;
}

.age-text {
  font-size: 90px;
  color: black;
  margin-left: 0.2em;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .card {
    display: flex;
  }

  .container {
    width: 100%;
    padding: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .inputs-section {
    gap: 25px;
    padding-top: 3em;
    justify-content: center;
  }

  .title {
    font-size: 15px;
  }

  .inputs input {
    width: 70px;
    height: 50px;
  }

  .inputs input::placeholder {
    font-size: 20px;
  }

  .icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    width: 64px;
    background-color: white;
    cursor: pointer;
  }

  .age {
    padding-top: 6em;
  }

  .age-metrics span,
  .age-metrics p {
    font-size: 36px;
  }
}
